@import "../../styles/settings";


.main-container {
    height: 100vh;
    max-height: 100svh; // corrected view on mobile devices
    background: url(../../assets/image/bg-no-data.png) center/cover
      no-repeat;
  }