<div class="no-data">
  <div class="text-center">
    <p class="fs-3">
      <span style="font-size: 30px" class="text-danger">Opps!</span>Не знайдено!
    </p>

    <div class="my-4">
      <img src="assets/image/non-market-found.png" alt="" />
    </div>

    <div class="text-center">
      <button
        style="border-radius: 20px; width: 180px"
        (click)="navigateToRoot()"
        type="button"
        class="btn btn-warning"
      >
        <strong>На головну</strong>
      </button>
    </div>
  </div>
</div>
