<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a style="cursor:pointer" href="/login">Sing In</a></li>
  </ul>
</nav>


<script>
  function navigateToLogin(url) {
    let newUrlIS =  window.location.origin + url;
    history.pushState({}, null, newUrlIS);
  }
</script>
