@import "../../../../../../styles/settings";

.login-wrapper {
  height: 100vh;
  // background: url(../../../../../../assets/image/bg-no-data.png) center/cover
  //   no-repeat;
}

input {
  border-radius: 20px;
  height: 40px;
  width: 270px;
  text-indent: 10px;
  border: 1px solid #f8b218;
}

button {
  background: #f8b218;
  border-radius: 20px;
  height: 40px;
}

i {
  position: absolute;
  right: 13px;
  bottom: 12px;
}

.title-text::after {
  top: 41px;
}
