<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/main.css"
    />
    <style>
      h1 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <h1>Home page</h1>
    <p>Hello it's a site home page</p>

    <% if (homeMocks.length) { %> <% homeMocks.forEach(({ link, name }) => { %>
    <li>
      <a href="<%= link %>"><%= name %></a>
    </li>
    <% }) %> <% } %>
  </body>
</html>
